$primary-color: rgb(29, 113, 122);

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $primary-color;
    font-size: 20px;
}

.bt-primary {
    display: block;
    background-color: $primary-color;
    color: white;
    width: 100%;
    line-height: 50px;
    margin: 10px 0px;
    text-align: center;
    border-radius: 6px;
    font-size: 20px;
    letter-spacing: 1px;
}

.bt-primary:hover {
    background-color: rgb(75, 129, 138);
}

body {
    margin: 0;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
    justify-content: right;
}

header {
    padding-top: 30px;
    box-shadow: 0px 0px 2px 0px rgb(188, 188, 188);
}

header>.container h1>a {
    color: $primary-color;
    font-size: 48px;
    line-height: 60px;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1140px;
}

header>.container nav>ul {
    display: flex;
    justify-content: end;
    // justify-content: space-between;
}

header>.container nav>ul>li {
    margin-right: 30px;
}

header>.container nav>ul>li>a {
    color: $primary-color;
    line-height: 60px;
    padding: 8px;
    // border-style: double;
}

@media(min-width:768px){
    header>.container nav{
        width: 100%;
    }
    header>.container nav>ul>li {
        position: relative;
    }

    .submenu{
        position: absolute;
        background-color: aquamarine;
        width: 100%;
        left: 0px;
        top: 60px;
        text-align: center;
        line-height: 30px;
        padding: 5px;
        // display: none;
    }

    header>.container nav>ul>li:hover{
        display: block;
    }
}

// ====================================
// 內容
// ====================================


// 圖片相關START
.img-fluid {
    width: 100%;
}

.img-rounded {
    border-radius: 8px;
}

// 圖片相關END



// 
// 
// 
// 區塊相關
.row {
    display: flex;
    flex-wrap: wrap;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 40px);
        margin: 10px 20px 10px 20px;
    }
}// column-預設手機排版 END


@media(min-width:768px){
    @for $i from 1 through 12 {
        .col-md-#{$i} {
            --num: calc(12 / #{$i});
             width: calc(100% / var(--num) - 40px);
            margin: 10px 20px 10px 20px;
        }
    }
 } //大於768 END 

@media(min-width:1200px){
    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 40px);
            margin: 10px 20px 10px 20px;
        }
    }
 } //大於1200 END 


//  
// 
// 文字相關 START
.text-center {
    text-align: center;
}

.text-right {
    text-align: right
}

.text-left {
    text-align: left
}

.text-justify {
    text-align: justify;
}

h2 {
    margin: 10px;
    font-size: 30px;
} //文字相關 END 


// 
// 內容
a.title {
    color: $primary-color;
    font-size: 1.5em;
    font-weight: 800;
}

.title a {
    color: rgb(10, 89, 111);
    font-size: 1.5em;
    font-weight: 800;
}

.description {
    color: rgb(69, 69, 69);
    padding-bottom: 20px;
}


// FOOTER
footer {
    color: white;
    background-color: $primary-color;
}

footer>div>div>dl>dt {
    font-size: 20px;
    padding: 10px;
}

footer>div>div>dl>dd>a {
    color: rgb(209, 207, 207);
    font-size: 16px;
    line-height: 30px;
}

footer>div>p {
    color: rgb(165, 164, 164);
    font-size: 14px;
    padding: 20px;
}

// 
// 麵包屑
.breadcrumb {
    margin-top: 20px;
    display: block;
    color: gray;
    letter-spacing: 4px;
    width: 100%;
    padding-left: 20px;
}

.breadcrumb>p>span {
    padding-left: 4px;
}


.breadcrumb>a {
    color: gray;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
    letter-spacing: 0px;
}

.breadcrumb>a:hover {
    color: $primary-color;
}

.breadcrumb>a.breadcrumb-active {
    color: $primary-color;
}

// 
// 內容頁


main {
    display: flex;
    justify-content: space-between;
}

// 
// 網頁作品
.web-design {
    padding-bottom: 20px;
}

.web-design>h2 {
    margin-left: 20px;
}

.text-primary {
    color: $primary-color;
}

.img-wrap {
    display: block;
    position: relative;
}

.img-overlay {
    overflow: hidden;
    border-radius: 8px;
}

.img-wrap img {
    vertical-align: top;
    transition: all .5s;
}

.img-wrap img:hover {
    transform: scale(1.5, 1.5);
}

.icon-new {
    position: absolute;
    text-align: center;
    width: 80px;
    line-height: 80px;
    background-color: rgb(172, 46, 14);
    color: white;
    border-radius: 100%;
    top: -20px;
    left: -30px;
}


// 
// 手機版

.flex-space-between{
    display: flex;
    justify-content: space-between;
}


// 小於包含767px以下執行
@media(max-width:767px) {
    header>.container h1 {
        // width: 85%;
        // float: left;
        text-align: center;
        width: 85%;
    }

    .icon-menu {
        // float: right;
        display: block;
        width: 15%;
        // background-color: rgb(252, 172, 60);
        background-color: whitesmoke;
        color: $primary-color;
        line-height: 60px;
        text-align: center;
    }

    header {
        background-color: $primary-color;
        padding-bottom: 0px;
        padding-top: 0px;
        position: relative;
    }

    header>.container h1>a {
        color: white;
        font-size: 40px;
        line-height: 60px;
    }

    header>.container nav {
        width: 100%;
        // float: right;
        // display: none;
        position: absolute;
        left: 0;
        top:60px;
        // left:0px; 避免之後動畫蓋不過，移出來單獨寫
        background-color: $primary-color;
        // height: 0;
        // overflow: hidden;
    }
    // 之後打開
    // nav{
    //     left:0;
    //     top: 60px;
    //     opacity: 0;
    //     transition: all .3s;
    // }
    // .icon-menu:hover + nav{
    //     top:60px;
    //     opacity: 1;
    //     height: 204px;
    // }


    header>.container nav.active {
        display: block;
    }

    header>.container nav>ul {
        display: block;
    }

    header>.container nav>ul>li {
        width: 100%;
        text-align: center;
        border-top: 1px solid whitesmoke;
    }


    header>.container nav>ul>li>a {
        color: whitesmoke;
        display: block;
        line-height: 50px;
    }

    .submenu{
        display: none;
        background-color: rgb(128, 162, 165);
    }
    
    header>.container nav>ul>li:hover .submenu{
        display: block;
    }

    .submenu>li{
        line-height: 40px;
        border-bottom: 1px solid rgb(185, 185, 185);
    }

    .submenu>li:last-child{
        border-bottom: none;
    }

    .submenu>li>a{
        color: black;
        display: block;
    }
    // .overflow-hidden {
    //     overflow: hidden;
    // }

} //max-width 767px END 



// 超過包含768px以上執行  (寫在下面任何地方都可，但不能往上寫!!!!!下面權重較重)
@media(min-width: 768px) {

    .icon-menu {
        display: none;
    }

}

//min-width 768px END 

// $i index **首字不能是數字
// for迴圈
// from through 從 1 開始到 3
@for $i from 1 through 5 {
    .fz-#{$i} {
        font-size: $i*1em;
    }
}

@for $i from 1 through 5 {
    .mb-#{$i} {
        margin-bottom: $i*1em;
    }
}

@media(min-width:768px){
    .order-md-1{
        order: -1;
    }
}