doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title About
    link(rel='stylesheet', href='/public/css/styles.css')
  body 
    header
      .container
        .row.flex-space-between 
          h1
            a(href='index.html') Chia's Portfolio
          a#btn-nav-toggle.icon-menu(href="javascript:;") MENU
          nav#primary-navigation
            ul
              li
                a(href='about.html') 關於我
              li
                a(href='#') 學習筆記
                ul.submenu 
                  li
                    a(href="") 線框圖
                  li 
                    a(href="") Prototype
                  li 
                    a(href="") HTML/CSS
              li
                a(href='web-design.html') 網頁作品
              li
                a(href='contact-us.html') 聯絡我
    img.img-fluid(src='public/images/about-04.jpg', alt='個人照')
    .container
        .row 
            .col-12 
                h2.text-center 關於我
        .row
            .col-12.col-md-6.col-lg-6
                img(src="https://www.fillmurray.com/300/300", alt="")
            .col-12.col-md-6 02
        .row
            .col-12.col-md-6.col-lg-6
                img(src="https://www.fillmurray.com/300/300", alt="")
            .col-12.col-md-6.order-md-1 02
    footer
      .container
        p.copyright.text-center copyright 2022 
          br
          |  此網頁為中興大學推廣部課堂練習作品，僅為個人用
    script(src="public/js/script.js")

