doctype html
head
   title TEST ICECREAM
   link(rel="stylesheet", href="public/css/styles.css")
body 
    header
        .container
            h1 
                a(href="") 冰淇淋專賣店 
            nav 
                ul 
                    li 
                        a(href="") 關於我們
                    li 
                        a(href="") 精選食材
                    li 
                        a(href="") 所有品項
                    li 
                        a(href="") 聯絡我們
    .container test 
        h2.text-center 最新品項
        .row 
            .col-4 
                a(href="#") 
                    img.img-rounded.img-fluid(src="https://www.fillmurray.com/300/300", alt="")
                p.title.text-center
                    a(href="#") 品項1
                p.description.text-center 說明  

    footer 
        .container copyright
