doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 網頁作品
  link(rel='stylesheet' href='/public/css/styles.css')
body
    header.overflow-hidden
      .container
        a.icon-menu(href="") MENU
        h1
          a(href='index.html') Chia's Portfolio
        nav
          ul
            li
              a(href='#') 關於我
            li
              a(href='#') 學習筆記
            li
              a(href='web-design.html') 網頁作品
            li
              a(href='#') 聯絡我
    .container.row
      .breadcrumb
        a(href='index.html') &#x9996;&#x9801;
        span &gt;
        a.breadcrumb-active(href='web-design.html') &#x7DB2;&#x9801;&#x4F5C;&#x54C1;
        //
          >
          <a href="">作品內頁</a>
      aside.col-md-3
        .sidebar
          ul
            li
              a.bt-primary(href='') &#x7DB2;&#x9801;1
            li
              a.bt-primary(href='') &#x7DB2;&#x9801;2
            li
              a.bt-primary(href='') &#x7DB2;&#x9801;3
            li
              a.bt-primary(href='') &#x7DB2;&#x9801;4
      main.col-md-9
        .web-design
          h2.text-left &#x7DB2;&#x9801;&#x4F5C;&#x54C1;&#x4E00;&#x89BD;
          .row
            //
              <a href="" class="img-wrap">
              <img src="https://www.fillmurray.com/200/200" alt="" class="img-wrap">
              <span class="icon-new">NEW</a></span>
              </a>
            // div.col-md-6>a.img-wrap>div.img-overlay>img[src="https://www.fillmurray.com/400/400"].img-fluid+span.icon-new{NEW}^^p.title.text-center>a{網頁$}+p.description{說明}
            .col-md-6
              a.img-wrap(href='')
                .img-overlay
                  img.img-fluid(src='https://www.fillmurray.com/500/500' alt='')
                  span.icon-new NEW
              p.title.text-center
                a(href='') &#x7DB2;&#x9801;1
              p.description.text-center &#x8AAA;&#x660E;
              p
            .col-md-6
              a.img-wrap(href='')
                .img-overlay
                  img.img-fluid(src='https://www.fillmurray.com/500/500' alt='')
                  span.icon-new NEW
              p.title.text-center
                a(href='') &#x7DB2;&#x9801;2
              p.description.text-center &#x8AAA;&#x660E;
              p
            .col-md-6
              a.img-wrap(href='')
                .img-overlay
                  img.img-fluid(src='https://www.fillmurray.com/500/500' alt='')
                  span.icon-new NEW
              p.title.text-center
                a(href='') &#x7DB2;&#x9801;3
              p.description.text-center &#x8AAA;&#x660E;
              p
            .col-md-6
              a.img-wrap(href='')
                .img-overlay
                  img.img-fluid(src='https://www.fillmurray.com/500/500' alt='')
                  span.icon-new NEW
              p.title.text-center
                a(href='') &#x7DB2;&#x9801;4
              p.description.text-center &#x8AAA;&#x660E;
              p
    // footer>.container>dl*5>dt{標題$$}+dd*4>a{項目$$}^^p.copyright.text-center{copyright 2022}
    // footer>.container>.row>dl.col-md-footer*5>dt{標題$$}+dd*4>a{項目$$}^^^p.copyright.text-center{copyright 2022}
    footer
      .container
        .row
          dl.col-md-footer
            dt 標題01
            dd
              a(href='') 項目01
            dd
              a(href='') 項目02
            dd
              a(href='') 項目03
            dd
              a(href='') 項目04
          dl.col-md-footer
            dt 標題02
            dd
              a(href='') 項目01
            dd
              a(href='') 項目02
            dd
              a(href='') 項目03
            dd
              a(href='') 項目04
          dl.col-md-footer
            dt 標題03
            dd
              a(href='') 項目01
            dd
              a(href='') 項目02
            dd
              a(href='') 項目03
            dd
              a(href='') 項目04
          dl.col-md-footer
            dt 標題04
            dd
              a(href='') 項目01
            dd
              a(href='') 項目02
            dd
              a(href='') 項目03
            dd
              a(href='') 項目04
        p.copyright.text-center copyright 2022 
          br
          |  此網頁為中興大學推廣部課堂練習作品，僅為個人用
