doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 網頁作品
  link(rel='stylesheet' href='/public/css/styles.css')
body
    header
      .container
        .row.flex-space-between 
          h1
            a(href='index.html') Chia's Portfolio
          a#btn-nav-toggle.icon-menu(href="javascript:;") MENU
          nav#primary-navigation
            ul
              li
                a(href='about.html') 關於我
              li
                a(href='#') 學習筆記
                ul.submenu 
                  li
                    a(href="") 線框圖
                  li 
                    a(href="") Prototype
                  li 
                    a(href="") HTML/CSS
              li
                a(href='web-design.html') 網頁作品
              li
                a(href='contact-us.html') 聯絡我
    .container.row
      .breadcrumb
        a(href='index.html') 首頁
        span ＞
        a.breadcrumb-active(href='web-design.html') 網頁作品
        //
          >
          <a href="">作品內頁</a>
      aside.col-12.col-md-3.col-lg-2
        .sidebar
          ul
            li
              a.bt-primary(href='') 品牌網頁
            li
              a.bt-primary(href='') 單頁式網頁

      main.col-12.col-md-9.col-lg-10
        .web-design
          h2.text-left.sm-text-center 網頁作品一覽
          .row
            //
              <a href="" class="img-wrap">
              <img src="https://www.fillmurray.com/200/200" alt="" class="img-wrap">
              <span class="icon-new">NEW</a></span>
              </a>
            // div.col-md-6>a.img-wrap>div.img-overlay>img[src="https://www.fillmurray.com/400/400"].img-fluid+span.icon-new{NEW}^^p.title.text-center>a{網頁$}+p.description{說明}
            .col-12.col-md-6.col-lg-3
              a.img-wrap(href='https://ch9145.github.io/scoopi/' target="blank")
                .img-overlay
                  img.img-fluid(src='public/images/scoopi-sign.jpg' alt='')
                  span.icon-new NEW
              p.title.text-center
                a(href='https://ch9145.github.io/scoopi/' target="blank") Scoopi
              p.description.text-center 虛構品牌網頁
              p.description.text-center  2022.07.04 (持續進行中)
            .col-12.col-md-6.col-lg-3
              a.img-wrap(href='https://ch9145.github.io/gaudi_practice/' target="blank")
                .img-overlay
                  img.img-fluid(src='public/images/gaudi-01.jpg' alt='')
                  //- span.icon-new NEW
              p.title.text-center
                a(href='https://ch9145.github.io/gaudi_practice/' target="blank") Gaudi介紹
              p.description.text-center 首次練習一頁式網頁
              p.description.text-center 2022.06.10
    // footer>.container>dl*5>dt{標題$$}+dd*4>a{項目$$}^^p.copyright.text-center{copyright 2022}
    // footer>.container>.row>dl.col-md-footer*5>dt{標題$$}+dd*4>a{項目$$}^^^p.copyright.text-center{copyright 2022}
    footer
      .container
        //- .row
          //- dl.text-center.col-6.col-md-3
          //-   dt 標題01
          //-   dd
          //-     a(href='') 項目01
          //-   dd
          //-     a(href='') 項目02
          //-   dd
          //-     a(href='') 項目03
          //-   dd
          //-     a(href='') 項目04
          //- dl.text-center.col-6.col-md-3
          //-   dt 標題02
          //-   dd
          //-     a(href='') 項目01
          //-   dd
          //-     a(href='') 項目02
          //-   dd
          //-     a(href='') 項目03
          //-   dd
          //-     a(href='') 項目04
          //- dl.text-center.col-6.col-md-3
          //-   dt 標題03
          //-   dd
          //-     a(href='') 項目01
          //-   dd
          //-     a(href='') 項目02
          //-   dd
          //-     a(href='') 項目03
          //-   dd
          //-     a(href='') 項目04
          //- dl.text-center.col-6.col-md-3
          //-   dt 標題04
          //-   dd
          //-     a(href='') 項目01
          //-   dd
          //-     a(href='') 項目02
          //-   dd
          //-     a(href='') 項目03
          //-   dd
          //-     a(href='') 項目04
        p.copyright.text-center copyright 2022 
          br
          |  此網頁為中興大學推廣部課堂練習作品，僅為個人用
      script(src="public/js/script.js")
